services:
  mongodb:
    image: mongo:latest 
    ports:
      - "27017:27017" 
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password
    volumes:
      - mongo_data:/data/db 
    restart: always

volumes:
  mongo_data:
